<h1>ログイン</h1>
<div class="container">
  <div class="col-md-6">
    <%= form_with url: sessions_path, scope: :session, local: true do |f| %>
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "row mt-2 mb-2" do %>
        <%= f.check_box :remember_me, class: "form-check-input" %>
        ブラウザを閉じてもログイン状態を維持する
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary mt-2" %>
    <% end %>

    <div class="mt-3">
      <%= link_to "新規登録はこちら", new_user_path %>
    </div>
  </div>

</div>